main {
  max-width: 28rem;
}

h3 {
  font-weight: 200;
  line-height: 1;
  font-size: 1.75rem;
  margin: 0 0 1.25rem;
}

section {
  position: relative;
  padding-bottom: 2rem;
}

p {
  margin: 0;
  line-height: 1;
}

h4 {
  font-weight: 500;
  line-height: 1;
  font-size: 1.25rem;
  margin: 0.5rem 0;
  text-align: center;
}

button,
input,
select {
  font-family: inherit;
  font-feature-settings: inherit;
  font-variation-settings: inherit;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1;
  color: var(--font);
  margin: 0 auto;
  padding: 0;
  background-image: none;
  text-transform: none;
  display: block;
  border-radius: 0.25rem;
  border: 1px solid var(--border-color);
  background-color: rgb(var(--opposite-bg) / 1%);
  width: auto;
  height: auto;
  outline: none;
}

button,
select {
  font-weight: 500;
  letter-spacing: 0.025rem;
  user-select: none;
  text-align: center;
}

button {
  cursor: pointer;
  transition: all 0.2s;
}

.submit {
  margin: 1.5rem auto;
  padding: 0.5rem 1rem;
  box-shadow: 0 0 2px 2px rgb(var(--opposite-bg) / 7%);
}

.submit:hover {
  background-color: transparent;
  border-color: var(--border-hover);
  box-shadow: 0 0 3px 3px rgb(var(--opposite-bg) / 6%);
}

.submit:focus {
  background-color: transparent;
  border-color: var(--border-focus);
  box-shadow: 0 0 3px 3px rgb(var(--opposite-bg) / 6%);
}

.submit:disabled {
  background-color: rgb(var(--opposite-bg) / 50%);
  color: rgb(var(--opposite-bg) / 60%);
  cursor: not-allowed;
}

.chunk {
  border: 2px solid var(--border-color);
  border-radius: 0.5rem;
  margin: 1rem 0;
  padding-top: 0.625rem;
  position: relative;
  box-shadow: none;
  transition: box-shadow 0.2s;
}

.chunk-body {
  padding: 0.125rem 1.25rem 1.125rem 0.75rem;
}

.row {
  display: flex;
  align-items: center;
  margin: 0.5rem 0;
}

.hour {
  flex: 0 0 3rem;
  width: 3rem;
  text-align: right;
  margin-right: 0.25rem;
}

.hour-vote {
  flex: 1 1 auto;
}

.options {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.vote-btn {
  flex: 0 1 calc(25% - 0.125rem);
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  font-size: 0.875rem;
  height: 1.5rem;
  transform: scale(0.95);
  opacity: 0.95;
}

.vote-0 {
  background-color: #fcc;
  color: #730000;
}

.vote-1 {
  background-color: #fbf5d0;
  color: #605200;
}

.vote-2 {
  background-color: #d2fbd0;
  color: #0d5d07;
}

.vote-3 {
  background-color: #96d7ff;
  color: #003e64;
}

.vote-btn.unselected {
  opacity: 0.5;
}

.vote-btn:hover {
  transform: scale(1);
}

.vote-btn:hover,
.vote-btn:focus,
.vote-btn.selected {
  opacity: 1;
  color: #000;
}

.vote-btn:focus,
.vote-btn.selected {
  transform: scale(1.05);
  z-index: 2;
  position: relative;
  box-shadow: 0 0 3px 3px rgb(var(--opposite-bg) / 25%);
}

.vote-btn-txt {
  pointer-events: none;
}

.selected .vote-btn-txt::before {
  content: "✓ ";
}

select {
  width: 8rem;
  height: 1.5rem;
  font-size: 0.875rem;
  cursor: context-menu;
  opacity: 0.8;
}

.chunk:hover {
  box-shadow: 0 0 3px 3px rgb(var(--opposite-bg) / 25%);
}

.chunk:hover select {
  opacity: 1;
}

#modal {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 4;
}

#modal,
#overlay {
  inset: 0;
  width: 100%;
  height: 100%;
}

#overlay {
  z-index: 3;
  position: absolute;
  opacity: 0.75;
  background-color: #000;
}

#modal.hide {
  display: none;
}

#modal.show {
  display: flex;
}

#name-form {
  position: relative;
  z-index: 5;
  background-color: var(--bg);
  flex: 1 1 27rem;
  max-width: 27rem;
  box-shadow: 0 0 3px 3px rgb(var(--opposite-bg) / 25%);
  border-radius: 0.5rem;
  overflow: hidden;
  padding: 1.5rem 1.5rem 0;
}

input {
  height: 2rem;
  width: 100%;
  padding: 0.25rem 0.5rem;
  margin: 0.25rem 0;
}

input::placeholder {
  opacity: 0.75;
  color: inherit;
}

:-moz-focusring {
  outline: auto;
}

:-moz-ui-invalid {
  box-shadow: none;
}

label {
  display: block;
  font-weight: 300;
  font-size: 1.125rem;
  margin: 0 0 0.75rem;
}

#name-form #loader {
  inset: 0;
  width: 100%;
}
